.FlyingElement
	position absolute
	&__inners
		width 100px
		height 100px
		margin-top: -50px;
		margin-left: -50px;
		//background blue
		background-image url(./bubble_fixed.svg)
		background-size contain
		background-position center